# DataFrame
    *DataFrame is look like table of data which contain collection of rows and columns
    *DataFrame have two dimensions: Labeled indices and columns
    *Each columns in a DataFrame is a series
    *Unlike Series, DataFrames could be heterogenous

In [1]:
# Importing Librarey
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.2.4'

In [3]:
# Some python lists
names=['a','b','c','d','e']
ages=[10,17,12,15,12]
marries=[False,True,False,True,True]

In [4]:
# Pandas Series
ser=pd.Series(data=names,name='Names')

In [5]:
ser.head(2)

0    a
1    b
Name: Names, dtype: object

In [6]:
# Pandas DataFrame
df=pd.DataFrame({'Names':names,'Ages':ages,'Marries':marries})

In [7]:
df

  Names  Ages  Marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

In [8]:
ser.iloc[2]

'c'

In [9]:
df.iloc[2]

Names          c
Ages          12
Marries    False
Name: 2, dtype: object

In [10]:
# Show Dimension
ser.ndim

1

In [11]:
df.ndim

2

In [12]:
# Show Shape how many rows and columns
ser.shape

(5,)

In [13]:
df.shape

(5, 3)

In [14]:
# Each column look like Series
df.Names

0    a
1    b
2    c
3    d
4    e
Name: Names, dtype: object

In [15]:
df=df.rename(columns={'Names':'names','Ages':'ages','Marries':'marries'},inplace=False)

In [16]:
df

  names  ages  marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

In [17]:
ser.dtype

dtype('O')

In [18]:
# Show each column datatype which is hetarogenous ,contain different data types
df.dtypes

names      object
ages        int64
marries      bool
dtype: object

In [19]:
len(ser)

5

In [20]:
names=names+['g']

In [21]:
names

['a', 'b', 'c', 'd', 'e', 'g']

In [22]:
len(names)

6

In [23]:
'''
    DataFrame is not creating beacuse one sereis has a extra data,
    which is not same every series like names series data is:6
    other series data is:5 and 5
'''
#df=pd.DataFrame({'names':names,'ages':ages,'merries':marries})

'\n    DataFrame is not creating beacuse one sereis has a extra data,\n    which is not same every series like names series data is:6\n    other series data is:5 and 5\n'

### Creating DataFrame
    * Dictionary to Tuple
       --Like dict of list, but with tuples, Column-Wise
       
    * Dictionary to Dictionary
       --Key:value pairs with column names as keys and index-labeled keys:value pairs containing values
       
    * Dictionary to Series
        --A Continuation of keys concept
    * List to Dictionary
        --List of keys:Values pairs containing column labels and values

### Dict of Tuples

In [24]:
names=['a','b','c','d','e']
tuple_names=tuple(names)
tuple_ages=tuple(ages)
tuple_marries=tuple(marries)

In [25]:
tuple_names

('a', 'b', 'c', 'd', 'e')

In [26]:
pd.DataFrame({
    'names':tuple_names,
    'ages':tuple_ages,
    'marries':tuple_marries
})

  names  ages  marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

## Dictionary to Series

In [27]:
names=pd.Series(names)

In [28]:
ages=pd.Series(ages)

In [29]:
marries=pd.Series(marries)

In [30]:
pd.DataFrame({'names':names,'ages':ages,'marries':marries})

  names  ages  marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

## Dictionary To Dictionary

In [31]:
pd.DataFrame({'name':['a','b']})

  name
0    a
1    b

In [32]:
pd.DataFrame({'name':{0:'a',1:'b'}})

  name
0    a
1    b

In [33]:
# The Enumerate Function

In [34]:
enumerate(names)

In [35]:
list(enumerate(names))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [36]:
dict_names={k:v for k,v in enumerate(names)}

In [37]:
dict_names

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [38]:
pd.DataFrame({'names':dict_names})

  names
0     a
1     b
2     c
3     d
4     e

In [39]:
def convert_list_dict(i):
    return {k:v for k,v in enumerate(i)}

In [40]:
dict_name=convert_list_dict(names)
dict_ages=convert_list_dict(ages)
dict_marries=convert_list_dict(marries)

In [41]:
pd.DataFrame({'names':names,'ages':ages,"marries":marries})

  names  ages  marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

## List to Dictioanry

In [42]:
pd.DataFrame([{'names':'a','ages':6,'marries':True}])

  names  ages  marries
0     a     6     True

In [43]:
list(zip(names,ages,marries))

[('a', 10, False),
 ('b', 17, True),
 ('c', 12, False),
 ('d', 15, True),
 ('e', 12, True)]

In [44]:
pd.DataFrame([{'names':names,'ages':ages,'marries':marries} for names,ages,marries in zip(names,ages,marries)])

  names  ages  marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

## Info() Method

In [45]:
# Info Methods Describe About Summary DataSets
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   names    5 non-null      object
 1   ages     5 non-null      int64
 2   marries  5 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 213.0+ bytes

In [46]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Columns: 3 entries, names to marries
dtypes: bool(1), int64(1), object(1)
memory usage: 213.0+ bytes

In [47]:
df.info(max_cols=2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Columns: 3 entries, names to marries
dtypes: bool(1), int64(1), object(1)
memory usage: 213.0+ bytes

In [48]:
df.info(memory_usage=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   names    5 non-null      object
 1   ages     5 non-null      int64
 2   marries  5 non-null      bool
dtypes: bool(1), int64(1), object(1)

In [49]:
df.info(memory_usage='deep',verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Columns: 3 entries, names to marries
dtypes: bool(1), int64(1), object(1)
memory usage: 463.0 bytes

## Reading DataSets

In [50]:
#Urls
dataurl='https://andybek.com/pandas-nutrition'

In [51]:
nut=pd.read_csv(dataurl)

In [52]:
nut.head(2)

,Unnamed: 0,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g

In [53]:
nut.info(verbose=False,memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8789 entries, 0 to 8788
Columns: 77 entries, Unnamed: 0 to water
dtypes: int64(3), object(74)
memory usage: 39.2 MB

## Removing Duplicated Index

In [54]:
nut.head(3)

,Unnamed: 0,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g

In [55]:
nut.set_index('Unnamed: 0').head(3)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g

In [56]:
nut.drop('Unnamed: 0',axis=1).head(3)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g

In [57]:
# it is good
nut=pd.read_csv(dataurl,index_col=[0])

In [58]:
nut.head(3)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g

## The sample() Method

In [59]:
# Ramdomly Coming
nut.sample()

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
317,"Babyfood, pretzels",100 g,397,2g,0.4g,0,269.00 mg,0.0 mg,85.00 mcg,65.00 mcg,...,2.00 g,0.400 g,0.238 g,1.054 g,0.00 mg,0.0 g,1.00 g,0.00 mg,0.00 mg,4.00 g

In [60]:
# If you set random_sate it do not change when you refresh
nut.sample(random_state=1)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
8785,"Lamb, cooked, separable lean only, composite o...",100 g,206,8.9g,3.9g,109mg,50.00 mg,0,0.00 mcg,0.00 mcg,...,8.86 g,3.860 g,3.480 g,0.520 g,109.00 mg,0,1.60 g,0,0,59.95 g

In [61]:
nut.sample(n=3,random_state=1)# randomly coming data with 3 rows

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
8785,"Lamb, cooked, separable lean only, composite o...",100 g,206,8.9g,3.9g,109mg,50.00 mg,0,0.00 mcg,0.00 mcg,...,8.86 g,3.860 g,3.480 g,0.520 g,109.00 mg,0,1.60 g,0,0,59.95 g
8483,"Beef, grilled, cooked, choice, trimmed to 1/8""...",100 g,313,25g,11g,83mg,60.00 mg,48.6 mg,6.00 mcg,0.00 mcg,...,24.70 g,10.566 g,11.620 g,1.103 g,83.00 mg,0.0 g,0.90 g,0.00 mg,0.00 mg,52.36 g
6955,"Beverages, all with morro seeds, variety of br...",100 g,413,7.5g,2.1g,0,3.00 mg,11.6 mg,12.00 mcg,0.00 mcg,...,7.46 g,2.086 g,3.174 g,2.069 g,0.00 mg,0.0 g,1.10 g,0.00 mg,0.00 mg,4.89 g

In [62]:
nut.sample(frac=.001)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
3519,"Fish, dry heat, cooked, farmed, Atlantic, salmon",100 g,206,12g,2.4g,63mg,61.00 mg,90.5 mg,34.00 mcg,0.00 mcg,...,12.35 g,2.397 g,4.181 g,4.553 g,63.00 mg,0.0 g,1.15 g,0.00 mg,0.00 mg,64.75 g
7133,"Corn, with salt, drained, boiled, cut off cob,...",100 g,79,0.7g,0.1g,0,245.00 mg,0,35.00 mcg,0.00 mcg,...,0.67 g,0.066 g,0.126 g,0.203 g,0.00 mg,0,1.03 g,0,0,77.03 g
2733,"Turkey from whole, raw, meat only, dark meat",100 g,108,2.5g,0.7g,79mg,124.00 mg,69.6 mg,7.00 mcg,0.00 mcg,...,2.50 g,0.683 g,0.756 g,0.613 g,79.00 mg,0.0 g,1.03 g,0.00 mg,0.00 mg,76.01 g
4610,"CAMPBELL'S Red and White, condensed, Tomato Bi...",100 g,103,2.8g,1.2g,4mg,698.00 mg,0,0,0,...,2.78 g,1.190 g,0.397 g,0.794 g,4.00 mg,0,1.98 g,0,0,75.40 g
6043,"Chicken, fried, cooked, meat only, neck, broil...",100 g,229,12g,3g,105mg,99.00 mg,0,8.00 mcg,0.00 mcg,...,11.88 g,3.000 g,4.570 g,3.040 g,105.00 mg,0,0.78 g,0,0,58.71 g
5342,"Snacks, salt added, white popcorn, oil-popped,...",100 g,500,28g,4.9g,0,884.00 mg,0,17.00 mcg,0.00 mcg,...,28.10 g,4.890 g,8.170 g,13.420 g,0.00 mg,0,2.90 g,0,0,2.80 g
1310,"Bologna, beef and pork",100 g,308,25g,9.3g,60mg,960.00 mg,65.6 mg,6.00 mcg,0.00 mcg,...,24.59 g,9.301 g,10.526 g,1.120 g,60.00 mg,0.0 g,2.85 g,0.00 mg,0.00 mg,51.87 g
4755,"Spinach, solids and liquids, regular pack, canned",100 g,19,0.4g,0.1g,0,319.00 mg,15.2 mg,58.00 mcg,0.00 mcg,...,0.37 g,0.060 g,0.010 g,0.155 g,0.00 mg,0.0 g,1.38 g,0.00 mg,0.00 mg,93.22 g
6889,"Shortening confectionery, coconut (hydrogenate...",100 g,884,100g,91g,0,0.00 mg,0.3 mg,0.00 mcg,0.00 mcg,...,100.00 g,91.300 g,2.200 g,1.000 g,0.00 mg,0.0 g,0.00 g,0.00 mg,0.00 mg,0.00 g

In [63]:
nut.shape

(8789, 76)

In [64]:
nut.shape[0]*.001

8.789

In [65]:
# When you use 'frac' you can not use n=n
#nut.sample(frac=.001,n=3)

## Sampling With Replacement or Weights

In [66]:
# With or Without Replacement

In [67]:
nut.sample(n=3,replace=True,random_state=1)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
235,"Game meat, raw, elk",100 g,111,1.5g,0.5g,55mg,58.00 mg,0,0,0,...,1.45 g,0.530 g,0.360 g,0.300 g,55.00 mg,0,1.00 g,0,0,74.38 g
5192,"USDA Commodity, heated, frozen, breaded, salmo...",100 g,212,12g,1.6g,26mg,173.00 mg,0,9.00 mcg,3.00 mcg,...,11.72 g,1.570 g,4.625 g,3.028 g,26.00 mg,0.0 g,1.25 g,0,0,60.38 g
905,"Soybeans, raw, mature seeds",100 g,446,20g,2.9g,0,2.00 mg,115.9 mg,375.00 mcg,0.00 mcg,...,19.94 g,2.884 g,4.404 g,11.255 g,0.00 mg,0.0 g,4.87 g,0.00 mg,0.00 mg,8.54 g

In [68]:
# Weight Sampling
weight=pd.Series([10,10,10,1,2,3],index=[10,13,5,1,8,4])

In [69]:
weight

10    10
13    10
5     10
1      1
8      2
4      3
dtype: int64

In [70]:
nut.sample(n=3, weights=weight,random_state=1)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
8,"Cheese, camembert",100 g,300,24g,15g,72mg,842.00 mg,15.4 mg,62.00 mcg,0.00 mcg,...,24.26 g,15.259 g,7.023 g,0.724 g,72.00 mg,0.0 g,3.68 g,0.00 mg,0.00 mg,51.80 g
10,"PACE, Picante Sauce",100 g,25,0g,NaN,0,781.00 mg,0,0,0,...,0.00 g,0,0,0,0.00 mg,0,3.85 g,0,0,89.90 g
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g

## DataFrame Axes

In [71]:
nut.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8789 entries, 0 to 8788
Columns: 76 entries, name to water
dtypes: int64(2), object(74)
memory usage: 5.2+ MB

In [72]:
nut.axes

[Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
             ...
             8779, 8780, 8781, 8782, 8783, 8784, 8785, 8786, 8787, 8788],
            dtype='int64', length=8789),
 Index(['name', 'serving_size', 'calories', 'total_fat', 'saturated_fat',
        'cholesterol', 'sodium', 'choline', 'folate', 'folic_acid', 'niacin',
        'pantothenic_acid', 'riboflavin', 'thiamin', 'vitamin_a',
        'vitamin_a_rae', 'carotene_alpha', 'carotene_beta',
        'cryptoxanthin_beta', 'lutein_zeaxanthin', 'lucopene', 'vitamin_b12',
        'vitamin_b6', 'vitamin_c', 'vitamin_d', 'vitamin_e', 'tocopherol_alpha',
        'vitamin_k', 'calcium', 'copper', 'irom', 'magnesium', 'manganese',
        'phosphorous', 'potassium', 'selenium', 'zink', 'protein', 'alanine',
        'arginine', 'aspartic_acid', 'cystine', 'glutamic_acid', 'glycine',
        'histidine', 'hydroxyproline', 'isoleucine', 'leucine', 'lysine',
        'methionine', 'phenylalanine', 'proline', 'serine', 'threonine',
        'tryptophan', 'tyrosine', 'valine', 'carbohydrate', 'fiber', 'sugars',
        'fructose', 'galactose', 'glucose', 'lactose', 'maltose', 'sucrose',
        'fat', 'saturated_fatty_acids', 'monounsaturated_fatty_acids',
        'polyunsaturated_fatty_acids', 'fatty_acids_total_trans', 'alcohol',
        'ash', 'caffeine', 'theobromine', 'water'],
       dtype='object')]

In [73]:
# Row Label Axes
nut.axes[0]

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            8779, 8780, 8781, 8782, 8783, 8784, 8785, 8786, 8787, 8788],
           dtype='int64', length=8789)

In [74]:
# Column Label Axes
nut.axes[1]

Index(['name', 'serving_size', 'calories', 'total_fat', 'saturated_fat',
       'cholesterol', 'sodium', 'choline', 'folate', 'folic_acid', 'niacin',
       'pantothenic_acid', 'riboflavin', 'thiamin', 'vitamin_a',
       'vitamin_a_rae', 'carotene_alpha', 'carotene_beta',
       'cryptoxanthin_beta', 'lutein_zeaxanthin', 'lucopene', 'vitamin_b12',
       'vitamin_b6', 'vitamin_c', 'vitamin_d', 'vitamin_e', 'tocopherol_alpha',
       'vitamin_k', 'calcium', 'copper', 'irom', 'magnesium', 'manganese',
       'phosphorous', 'potassium', 'selenium', 'zink', 'protein', 'alanine',
       'arginine', 'aspartic_acid', 'cystine', 'glutamic_acid', 'glycine',
       'histidine', 'hydroxyproline', 'isoleucine', 'leucine', 'lysine',
       'methionine', 'phenylalanine', 'proline', 'serine', 'threonine',
       'tryptophan', 'tyrosine', 'valine', 'carbohydrate', 'fiber', 'sugars',
       'fructose', 'galactose', 'glucose', 'lactose', 'maltose', 'sucrose',
       'fat', 'saturated_fatty_acids', 'monounsaturated_fatty_acids',
       'polyunsaturated_fatty_acids', 'fatty_acids_total_trans', 'alcohol',
       'ash', 'caffeine', 'theobromine', 'water'],
      dtype='object')

In [75]:
# The Axis Param
# nut.dropna(axis=0)
# 0=>Row; 1=>Column

### Changing Index

In [76]:
nut.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            8779, 8780, 8781, 8782, 8783, 8784, 8785, 8786, 8787, 8788],
           dtype='int64', length=8789)

In [77]:
type(nut.index)

pandas.core.indexes.numeric.Int64Index

In [78]:
nut.index=pd.RangeIndex(start=0,stop=8789,step=1)

In [79]:
nut.index

RangeIndex(start=0, stop=8789, step=1)

In [80]:
nut.set_index('name',inplace=True)

In [81]:
nut.head(3)

,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,niacin,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
name,,,,,,,,,,,,,,,,,,,,,
Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,0.000 mg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,1.167 mg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,0.649 mg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g

In [82]:
# if you set drop False, it is not only set index but also stay column
# Append True it is set MultiIndex
# varify_integrity True, unique value appear
nut.set_index('folic_acid',drop=False,append=True,verify_integrity=False).head(3)

,,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,niacin,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
name,folic_acid,,,,,,,,,,,,,,,,,,,,,
Cornstarch,0.00 mcg,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,0.000 mg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
"Nuts, pecans",0.00 mcg,100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,1.167 mg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
"Eggplant, raw",0.00 mcg,100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,0.649 mg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g

In [83]:
nut.calories.value_counts()

884    78
47     45
56     43
0      39
50     38
       ..
897     1
685     1
669     1
605     1
727     1
Name: calories, Length: 671, dtype: int64

In [84]:
# if varify_integrity True , it is show error beacuse it is not unique, it has duplicated value
# nut.set_index('calories',varify_integrity=True)

## Extracting From DataFrame by Label

In [85]:
nut.head(3)

,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,niacin,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
name,,,,,,,,,,,,,,,,,,,,,
Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,0.000 mg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,1.167 mg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,0.649 mg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g

In [86]:
# loc[] it extracting data by label
nut.loc['Eggplant, raw']

serving_size       100 g
calories              25
total_fat           0.2g
saturated_fat        NaN
cholesterol            0
                  ...
alcohol            0.0 g
ash               0.66 g
caffeine         0.00 mg
theobromine      0.00 mg
water            92.30 g
Name: Eggplant, raw, Length: 75, dtype: object

In [87]:
type(nut.loc['Eggplant, raw'])

pandas.core.series.Series

In [88]:
nut.loc['Eggplant, raw']['calories']

25

In [89]:
nut.loc['Eggplant, raw','calories']

25

In [90]:
nut.loc['Eggplant, raw':'Sherbet, orange','calories':'cholesterol']

                 calories total_fat saturated_fat cholesterol
name
Eggplant, raw          25      0.2g           NaN           0
Teff, uncooked        367      2.4g          0.4g           0
Sherbet, orange       144        2g          1.2g         1mg

In [91]:
type(nut.loc['Eggplant, raw':'Sherbet, orange','calories':'cholesterol'])

pandas.core.frame.DataFrame

In [92]:
# if you want to extracted data specific way by label
nut.loc[
    ['Eggplant, raw','Sherbet, orange'],
    ['calories','cholesterol','water']
]

                 calories cholesterol    water
name
Eggplant, raw          25           0  92.30 g
Sherbet, orange       144         1mg  66.10 g

### Extracted data from Dataframe by Position

In [93]:
nut.iloc[3]

serving_size      100 g
calories            367
total_fat          2.4g
saturated_fat      0.4g
cholesterol           0
                  ...
alcohol               0
ash              2.37 g
caffeine              0
theobromine           0
water            8.82 g
Name: Teff, uncooked, Length: 75, dtype: object

In [94]:
nut.iloc[3,:]

serving_size      100 g
calories            367
total_fat          2.4g
saturated_fat      0.4g
cholesterol           0
                  ...
alcohol               0
ash              2.37 g
caffeine              0
theobromine           0
water            8.82 g
Name: Teff, uncooked, Length: 75, dtype: object

In [95]:
nut.iloc[[1,3,5],:]

,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,niacin,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
name,,,,,,,,,,,,,,,,,,,,,
"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,1.167 mg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
"Teff, uncooked",100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,0,3.363 mg,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g
"Cauliflower, raw",100 g,25,0.3g,0.1g,0,30.00 mg,44.3 mg,57.00 mcg,0.00 mcg,0.507 mg,...,0.28 g,0.130 g,0.034 g,0.031 g,0.00 mg,0.0 g,0.76 g,0.00 mg,0.00 mg,92.07 g

In [96]:
# nut.iloc[[1,3,5],'total_fat']===> iloc work with position

In [97]:
nut.iloc[[1,3,4],2:3]

                total_fat
name
Nuts, pecans          72g
Teff, uncooked       2.4g
Sherbet, orange        2g

In [98]:
# Boolean Mask
nut.iloc[
    [True if i%2==0 else False for i in range(8789)],
    [True if i%2==0 else False for i in range(75)]
].head(2)

,serving_size,total_fat,cholesterol,choline,folic_acid,pantothenic_acid,thiamin,vitamin_a_rae,carotene_beta,lutein_zeaxanthin,...,carbohydrate,sugars,galactose,lactose,sucrose,saturated_fatty_acids,polyunsaturated_fatty_acids,alcohol,caffeine,water
name,,,,,,,,,,,,,,,,,,,,,
Cornstarch,100 g,0.1g,0,0.4 mg,0.00 mcg,0.000 mg,0.000 mg,0.00 mcg,0.00 mcg,0.00 mcg,...,91.27 g,0.00 g,0,0,0,0.009 g,0.025 g,0.0 g,0.00 mg,8.32 g
"Eggplant, raw",100 g,0.2g,0,6.9 mg,0.00 mcg,0.281 mg,0.039 mg,1.00 mcg,14.00 mcg,36.00 mcg,...,5.88 g,3.53 g,0,0,0.26 g,0.034 g,0.076 g,0.0 g,0.00 mg,92.30 g

In [99]:
len(nut.iloc[
    [True if i%2==0 else False for i in range(8789)],
    [True if i%2==0 else False for i in range(75)]
])

4395

In [100]:
nut.shape[0]*.5

4394.5

### single Value extracting data by at[], iat[]

In [101]:
nut.head(4)

,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,niacin,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
name,,,,,,,,,,,,,,,,,,,,,
Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,0.000 mg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,1.167 mg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,0.649 mg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g
"Teff, uncooked",100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,0,3.363 mg,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g

In [102]:
nut.at['Eggplant, raw','calories'] # by Label

25

In [103]:
nut.iat[2,1] # by Position

25

In [104]:
%timeit nut.loc['Eggplant, raw','calories']

14.8 µs ± 2.13 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [105]:
%timeit nut.at['Eggplant, raw','calories']

6.83 µs ± 1.81 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

##### if you want to extracting data from DataFrame you should at[] or iat[] whic is faster than loc[] and iloc []

### The get_loc() Method

In [106]:
# column label:'vitamin_k'
# index_position:3

In [107]:
# Aproach 1--get label from position

In [108]:
index_label=nut.index[2]# which converted int to label
column_label='vitamin_k'
nut.loc[index_label, column_label]

'3.5 mcg'

In [109]:
nut.at[index_label, column_label]

'3.5 mcg'

In [110]:
# Aproach 2---> get int location from label

In [111]:
# if you want to extracted data by index way==>get_loc() method which converted label to integer
nut.columns.get_loc('vitamin_k') # Which is convert label to int

26

In [112]:
column_loc=26
index_loc=2

In [113]:
nut.iloc[index_loc,column_loc]

'3.5 mcg'

In [114]:
nut.iat[index_loc,column_loc]

'3.5 mcg'

### Skill Challenge

In [115]:
# Randomly select 10 food items and assign the resulting dataframe to a new varible called nurt_mini

In [181]:
nurt_mini=nut.sample(n=10,random_state=13)

In [182]:
nurt_mini.shape

(10, 75)

In [183]:
nurts_mini=nut.sample(n=10,random_state=13,axis=1) # By Column

In [184]:
nurts_mini.shape

(8789, 10)

In [185]:
nurt_mini

,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,niacin,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
name,,,,,,,,,,,,,,,,,,,,,
"KFC, Skin and Breading, EXTRA CRISPY, Fried Chicken",100 g,464,37g,7.5g,59mg,828.00 mg,0,0,0,3.423 mg,...,36.61 g,7.541 g,11.816 g,14.238 g,59.00 mg,0,2.92 g,0,0,26.98 g
"Frostings, NFSMI Recipe No. C-32, with butter, prepared-from-recipe, chocolate, glaze",100 g,359,7.2g,4.5g,18mg,132.00 mg,0,2.00 mcg,0.00 mcg,0.111 mg,...,7.17 g,4.483 g,1.894 g,0.294 g,18.00 mg,0.0 g,0.82 g,3.00 mg,98.00 mg,18.27 g
"Beverages, prepared with whole milk, with added nutrients, powder, chocolate-flavor beverage mix for milk",100 g,89,3.2g,1.9g,10mg,50.00 mg,13.4 mg,5.00 mcg,0.00 mcg,0.098 mg,...,3.17 g,1.899 g,0.745 g,0.178 g,10.00 mg,0.0 g,0.77 g,1.00 mg,23.00 mg,80.93 g
"Beans, raw, sprouted, mature seeds, navy",100 g,67,0.7g,0.1g,0,13.00 mg,0,132.00 mcg,0.00 mcg,1.220 mg,...,0.70 g,0.085 g,0.052 g,0.407 g,0.00 mg,0,0.95 g,0,0,79.15 g
"KEEBLER, KEEBLER Chocolate Graham SELECTS",100 g,465,17g,3.2g,0,0,0,0,0,0,...,16.60 g,3.150 g,8.431 g,2.201 g,0,0,1.40 g,0,0,3.10 g
"Fast foods, hot fudge, sundae",100 g,180,5.5g,3.2g,13mg,115.00 mg,0,6.00 mcg,0.00 mcg,0.680 mg,...,5.46 g,3.179 g,1.475 g,0.511 g,13.00 mg,0,1.10 g,1.00 mg,49.00 mg,59.70 g
"KELLOGG'S, Savory Herb Crackers, SPECIAL K",100 g,406,10g,1.5g,0,809.00 mg,0,30.00 mcg,0,3.800 mg,...,10.00 g,1.500 g,2.200 g,5.100 g,0.00 mg,0,0,0,0,2.50 g
"Seaweed, dry, Canadian Cultivated EMI-TSUNOMATA",100 g,259,1.4g,0.5g,33mg,4331.00 mg,0,188.00 mcg,0.00 mcg,3.750 mg,...,1.39 g,0.450 g,0.110 g,0.750 g,33.00 mg,0.0 g,23.03 g,0.00 mg,0.00 mg,14.00 g
"Cheese, with fruit, creamed, cottage",100 g,97,3.9g,2.3g,13mg,344.00 mg,17.5 mg,11.00 mcg,0.00 mcg,0.150 mg,...,3.85 g,2.311 g,1.036 g,0.124 g,13.00 mg,0.0 g,1.20 g,0.00 mg,0.00 mg,79.64 g
"Elderberries, raw",100 g,73,0.5g,NaN,0,6.00 mg,0,6.00 mcg,0.00 mcg,0.500 mg,...,0.50 g,0.023 g,0.080 g,0.247 g,0.00 mg,0.0 g,0.64 g,0,0,79.80 g

In [186]:
# From nurt_mini,extract the total_fat and cholesterol columns for all rows

In [188]:
nurt_mini.loc[
    :,
    ['total_fat','cholesterol']
]

                                                   total_fat cholesterol
name
KFC, Skin and Breading, EXTRA CRISPY, Fried Chi...       37g        59mg
Frostings, NFSMI Recipe No. C-32, with butter, ...      7.2g        18mg
Beverages, prepared with whole milk, with added...      3.2g        10mg
Beans, raw, sprouted, mature seeds, navy                0.7g           0
KEEBLER, KEEBLER Chocolate Graham SELECTS                17g           0
Fast foods, hot fudge, sundae                           5.5g        13mg
KELLOGG'S, Savory Herb Crackers, SPECIAL K               10g           0
Seaweed, dry, Canadian Cultivated EMI-TSUNOMATA         1.4g        33mg
Cheese, with fruit, creamed, cottage                    3.9g        13mg
Elderberries, raw                                       0.5g           0

In [189]:
a=nurt_mini.columns.get_loc('total_fat')

In [190]:
a

2

In [191]:
b=a=nurt_mini.columns.get_loc('cholesterol')

In [192]:
b

4

In [193]:
nurt_mini.iloc[
    :,
    [2,4]
]

                                                   total_fat cholesterol
name
KFC, Skin and Breading, EXTRA CRISPY, Fried Chi...       37g        59mg
Frostings, NFSMI Recipe No. C-32, with butter, ...      7.2g        18mg
Beverages, prepared with whole milk, with added...      3.2g        10mg
Beans, raw, sprouted, mature seeds, navy                0.7g           0
KEEBLER, KEEBLER Chocolate Graham SELECTS                17g           0
Fast foods, hot fudge, sundae                           5.5g        13mg
KELLOGG'S, Savory Herb Crackers, SPECIAL K               10g           0
Seaweed, dry, Canadian Cultivated EMI-TSUNOMATA         1.4g        33mg
Cheese, with fruit, creamed, cottage                    3.9g        13mg
Elderberries, raw                                       0.5g           0

In [194]:
# Extract all the columns from vitamin_b12 to the end, for the first,second and third rows

In [195]:
c=nurt_mini.columns.get_loc('vitamin_b12')
c

20

In [196]:
nurt_mini.iloc[:3,c:]

,vitamin_b12,vitamin_b6,vitamin_c,vitamin_d,vitamin_e,tocopherol_alpha,vitamin_k,calcium,copper,irom,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
name,,,,,,,,,,,,,,,,,,,,,
"KFC, Skin and Breading, EXTRA CRISPY, Fried Chicken",0.36 mcg,0.127 mg,0,0,0,0,0,41.00 mg,1.011 mg,0.67 mg,...,36.61 g,7.541 g,11.816 g,14.238 g,59.00 mg,0,2.92 g,0,0,26.98 g
"Frostings, NFSMI Recipe No. C-32, with butter, prepared-from-recipe, chocolate, glaze",0.09 mcg,0.011 mg,0.1 mg,0,0.19 mg,0.19 mg,0.7 mcg,32.00 mg,0.136 mg,0.60 mg,...,7.17 g,4.483 g,1.894 g,0.294 g,18.00 mg,0.0 g,0.82 g,3.00 mg,98.00 mg,18.27 g
"Beverages, prepared with whole milk, with added nutrients, powder, chocolate-flavor beverage mix for milk",0.41 mcg,0.108 mg,2.3 mg,47.00 IU,0.07 mg,0.07 mg,0.3 mcg,141.00 mg,0.098 mg,0.03 mg,...,3.17 g,1.899 g,0.745 g,0.178 g,10.00 mg,0.0 g,0.77 g,1.00 mg,23.00 mg,80.93 g

In [197]:
# Get the calories for the third food in nurt_mini using a attribute-based approach

In [198]:
nurt_mini.iat[3,1]

67

In [199]:
a=nurt_mini.index[3]
a

'Beans, raw, sprouted, mature seeds, navy'

In [200]:
nurt_mini.at[a,'calories']

67