# DataFrame
    *DataFrame is look like table of data which contain collection of rows and columns
    *DataFrame have two dimensions: Labeled indices and columns
    *Each columns in a DataFrame is a series
    *Unlike Series, DataFrames could be heterogenous

In [1]:
# Importing Librarey
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.2.4'

In [3]:
# Some python lists
names=['a','b','c','d','e']
ages=[10,17,12,15,12]
marries=[False,True,False,True,True]

In [4]:
# Pandas Series
ser=pd.Series(data=names,name='Names')

In [5]:
ser.head(2)

0    a
1    b
Name: Names, dtype: object

In [6]:
# Pandas DataFrame
df=pd.DataFrame({'Names':names,'Ages':ages,'Marries':marries})

In [7]:
df

  Names  Ages  Marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

In [8]:
ser.iloc[2]

'c'

In [9]:
df.iloc[2]

Names          c
Ages          12
Marries    False
Name: 2, dtype: object

In [10]:
# Show Dimension
ser.ndim

1

In [11]:
df.ndim

2

In [12]:
# Show Shape how many rows and columns
ser.shape

(5,)

In [13]:
df.shape

(5, 3)

In [14]:
# Each column look like Series
df.Names

0    a
1    b
2    c
3    d
4    e
Name: Names, dtype: object

In [15]:
df=df.rename(columns={'Names':'names','Ages':'ages','Marries':'marries'},inplace=False)

In [16]:
df

  names  ages  marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

In [17]:
ser.dtype

dtype('O')

In [18]:
# Show each column datatype which is hetarogenous ,contain different data types
df.dtypes

names      object
ages        int64
marries      bool
dtype: object

In [19]:
len(ser)

5

In [20]:
names=names+['g']

In [21]:
names

['a', 'b', 'c', 'd', 'e', 'g']

In [22]:
len(names)

6

In [23]:
'''
    DataFrame is not creating beacuse one sereis has a extra data,
    which is not same every series like names series data is:6
    other series data is:5 and 5
'''
#df=pd.DataFrame({'names':names,'ages':ages,'merries':marries})

'\n    DataFrame is not creating beacuse one sereis has a extra data,\n    which is not same every series like names series data is:6\n    other series data is:5 and 5\n'

### Creating DataFrame
    * Dictionary to Tuple
       --Like dict of list, but with tuples, Column-Wise
       
    * Dictionary to Dictionary
       --Key:value pairs with column names as keys and index-labeled keys:value pairs containing values
       
    * Dictionary to Series
        --A Continuation of keys concept
    * List to Dictionary
        --List of keys:Values pairs containing column labels and values

### Dict of Tuples

In [26]:
names=['a','b','c','d','e']
tuple_names=tuple(names)
tuple_ages=tuple(ages)
tuple_marries=tuple(marries)

In [27]:
tuple_names

('a', 'b', 'c', 'd', 'e')

In [28]:
pd.DataFrame({
    'names':tuple_names,
    'ages':tuple_ages,
    'marries':tuple_marries
})

  names  ages  marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

## Dictionary to Series

In [29]:
names=pd.Series(names)

In [33]:
ages=pd.Series(ages)

In [34]:
marries=pd.Series(marries)

In [35]:
pd.DataFrame({'names':names,'ages':ages,'marries':marries})

  names  ages  marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

## Dictionary To Dictionary

In [36]:
pd.DataFrame({'name':['a','b']})

  name
0    a
1    b

In [37]:
pd.DataFrame({'name':{0:'a',1:'b'}})

  name
0    a
1    b

In [38]:
# The Enumerate Function

In [39]:
enumerate(names)

In [41]:
list(enumerate(names))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [42]:
dict_names={k:v for k,v in enumerate(names)}

In [43]:
dict_names

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [44]:
pd.DataFrame({'names':dict_names})

  names
0     a
1     b
2     c
3     d
4     e

In [48]:
def convert_list_dict(i):
    return {k:v for k,v in enumerate(i)}

In [51]:
dict_name=convert_list_dict(names)
dict_ages=convert_list_dict(ages)
dict_marries=convert_list_dict(marries)

In [52]:
pd.DataFrame({'names':names,'ages':ages,"marries":marries})

  names  ages  marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

## List to Dictioanry

In [55]:
pd.DataFrame([{'names':'a','ages':6,'marries':True}])

  names  ages  marries
0     a     6     True

In [56]:
list(zip(names,ages,marries))

[('a', 10, False),
 ('b', 17, True),
 ('c', 12, False),
 ('d', 15, True),
 ('e', 12, True)]

In [57]:
pd.DataFrame([{'names':names,'ages':ages,'marries':marries} for names,ages,marries in zip(names,ages,marries)])

  names  ages  marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

## Info() Method

In [60]:
# Info Methods Describe About Summary DataSets
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   names    5 non-null      object
 1   ages     5 non-null      int64
 2   marries  5 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 213.0+ bytes

In [63]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Columns: 3 entries, names to marries
dtypes: bool(1), int64(1), object(1)
memory usage: 213.0+ bytes

In [66]:
df.info(max_cols=2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Columns: 3 entries, names to marries
dtypes: bool(1), int64(1), object(1)
memory usage: 213.0+ bytes

In [68]:
df.info(memory_usage=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   names    5 non-null      object
 1   ages     5 non-null      int64
 2   marries  5 non-null      bool
dtypes: bool(1), int64(1), object(1)

In [70]:
df.info(memory_usage='deep',verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Columns: 3 entries, names to marries
dtypes: bool(1), int64(1), object(1)
memory usage: 463.0 bytes

## Reading DataSets

In [74]:
#Urls
dataurl='https://andybek.com/pandas-nutrition'

In [76]:
nut=pd.read_csv(dataurl)

In [78]:
nut.head(2)

,Unnamed: 0,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g

In [80]:
nut.info(verbose=False,memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8789 entries, 0 to 8788
Columns: 77 entries, Unnamed: 0 to water
dtypes: int64(3), object(74)
memory usage: 39.2 MB

## Removing Duplicated Index

In [82]:
nut.head(3)

,Unnamed: 0,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g

In [84]:
nut.set_index('Unnamed: 0').head(3)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g

In [89]:
nut.drop('Unnamed: 0',axis=1).head(3)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g

In [94]:
# it is good
nut=pd.read_csv(dataurl,index_col=[0])

In [93]:
nut.head(3)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g

## The sample() Method

In [96]:
# Ramdomly Coming
nut.sample()

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
6933,"Beef, raw, select, trimmed to 1/8"" fat, separa...",100 g,276,22g,9g,94mg,58.00 mg,74.2 mg,9.00 mcg,0.00 mcg,...,22.21 g,8.963 g,9.511 g,0.845 g,94.00 mg,0.0 g,0.80 g,0.00 mg,0.00 mg,59.34 g

In [99]:
# If you set random_sate it do not change when you refresh
nut.sample(random_state=1)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
8785,"Lamb, cooked, separable lean only, composite o...",100 g,206,8.9g,3.9g,109mg,50.00 mg,0,0.00 mcg,0.00 mcg,...,8.86 g,3.860 g,3.480 g,0.520 g,109.00 mg,0,1.60 g,0,0,59.95 g

In [105]:
nut.sample(n=3,random_state=1)# randomly coming data with 3 rows

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
8785,"Lamb, cooked, separable lean only, composite o...",100 g,206,8.9g,3.9g,109mg,50.00 mg,0,0.00 mcg,0.00 mcg,...,8.86 g,3.860 g,3.480 g,0.520 g,109.00 mg,0,1.60 g,0,0,59.95 g
8483,"Beef, grilled, cooked, choice, trimmed to 1/8""...",100 g,313,25g,11g,83mg,60.00 mg,48.6 mg,6.00 mcg,0.00 mcg,...,24.70 g,10.566 g,11.620 g,1.103 g,83.00 mg,0.0 g,0.90 g,0.00 mg,0.00 mg,52.36 g
6955,"Beverages, all with morro seeds, variety of br...",100 g,413,7.5g,2.1g,0,3.00 mg,11.6 mg,12.00 mcg,0.00 mcg,...,7.46 g,2.086 g,3.174 g,2.069 g,0.00 mg,0.0 g,1.10 g,0.00 mg,0.00 mg,4.89 g

In [106]:
nut.sample(frac=.001)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
3077,"Beef, raw, 70% lean meat / 30% fat, ground",100 g,332,30g,12g,78mg,66.00 mg,46.8 mg,9.00 mcg,0.00 mcg,...,30.00 g,11.754 g,14.171 g,0.697 g,78.00 mg,0.0 g,0.70 g,0.00 mg,0.00 mg,54.30 g
4811,"Turkey, roasted, with added solution, meat and...",100 g,176,8g,2.3g,91mg,224.00 mg,77.7 mg,8.00 mcg,0.00 mcg,...,8.01 g,2.301 g,2.851 g,2.280 g,91.00 mg,0.0 g,1.36 g,0.00 mg,0.00 mg,65.05 g
7107,"Beef, raw, choice, trimmed to 1/8"" fat, separa...",100 g,158,7.1g,2.6g,66mg,57.00 mg,92.6 mg,13.00 mcg,0.00 mcg,...,7.07 g,2.612 g,2.842 g,0.306 g,66.00 mg,0.0 g,1.08 g,0.00 mg,0.00 mg,70.17 g
4861,"Cereals, without salt, cooked with water, enri...",100 g,53,0.3g,0.1g,0,18.00 mg,3.5 mg,77.00 mcg,60.00 mcg,...,0.34 g,0.066 g,0.038 g,0.126 g,0.00 mg,0.0 g,0.38 g,0.00 mg,0.00 mg,86.55 g
2006,"Beverages, Orange juice drink",100 g,54,0g,NaN,0,2.00 mg,0,4.00 mcg,0.00 mcg,...,0.00 g,0.000 g,0.010 g,0.010 g,0.00 mg,0.0 g,0.19 g,0.00 mg,0.00 mg,86.20 g
8445,"Beef, roasted, cooked, all grades, trimmed to ...",100 g,341,27g,11g,83mg,63.00 mg,0,6.00 mcg,0.00 mcg,...,27.14 g,10.920 g,11.730 g,0.990 g,83.00 mg,0,1.11 g,0,0,48.97 g
4839,"Restaurant, from kid's menu, chicken fingers, ...",100 g,307,17g,3.2g,46mg,809.00 mg,0,7.00 mcg,0,...,17.45 g,3.199 g,3.962 g,9.013 g,46.00 mg,0,2.93 g,0,0,42.17 g
698,"Salami, beef and pork, cooked",100 g,336,26g,9.3g,89mg,1740.00 mg,93.5 mg,3.00 mcg,0.00 mcg,...,25.90 g,9.316 g,11.127 g,2.529 g,89.00 mg,0.0 g,4.66 g,0.00 mg,0.00 mg,45.19 g
6188,"Rice and vermicelli mix, prepared with 80% mar...",100 g,148,3.7g,0.7g,0,430.00 mg,0,0,0,...,3.70 g,0.744 g,1.539 g,1.268 g,0,0,1.23 g,0,0,66.47 g

In [110]:
nut.shape

(8789, 76)

In [111]:
nut.shape[0]*.001

8.789

In [113]:
# When you use 'frac' you can not use n=n
#nut.sample(frac=.001,n=3)

## Sampling With Replacement or Weights

In [114]:
# With or Without Replacement

In [124]:
nut.sample(n=3,replace=True,random_state=1)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
235,"Game meat, raw, elk",100 g,111,1.5g,0.5g,55mg,58.00 mg,0,0,0,...,1.45 g,0.530 g,0.360 g,0.300 g,55.00 mg,0,1.00 g,0,0,74.38 g
5192,"USDA Commodity, heated, frozen, breaded, salmo...",100 g,212,12g,1.6g,26mg,173.00 mg,0,9.00 mcg,3.00 mcg,...,11.72 g,1.570 g,4.625 g,3.028 g,26.00 mg,0.0 g,1.25 g,0,0,60.38 g
905,"Soybeans, raw, mature seeds",100 g,446,20g,2.9g,0,2.00 mg,115.9 mg,375.00 mcg,0.00 mcg,...,19.94 g,2.884 g,4.404 g,11.255 g,0.00 mg,0.0 g,4.87 g,0.00 mg,0.00 mg,8.54 g

In [136]:
# Weight Sampling
weight=pd.Series([10,10,10,1,2,3],index=[10,13,5,1,8,4])

In [137]:
weight

10    10
13    10
5     10
1      1
8      2
4      3
dtype: int64

In [142]:
nut.sample(n=3, weights=weight,random_state=1)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
8,"Cheese, camembert",100 g,300,24g,15g,72mg,842.00 mg,15.4 mg,62.00 mcg,0.00 mcg,...,24.26 g,15.259 g,7.023 g,0.724 g,72.00 mg,0.0 g,3.68 g,0.00 mg,0.00 mg,51.80 g
10,"PACE, Picante Sauce",100 g,25,0g,NaN,0,781.00 mg,0,0,0,...,0.00 g,0,0,0,0.00 mg,0,3.85 g,0,0,89.90 g
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g