# DataFrame
    *DataFrame is look like table of data which contain collection of rows and columns
    *DataFrame have two dimensions: Labeled indices and columns
    *Each columns in a DataFrame is a series
    *Unlike Series, DataFrames could be heterogenous

In [1]:
# Importing Librarey
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.2.4'

In [3]:
# Some python lists
names=['a','b','c','d','e']
ages=[10,17,12,15,12]
marries=[False,True,False,True,True]

In [4]:
# Pandas Series
ser=pd.Series(data=names,name='Names')

In [5]:
ser.head(2)

0    a
1    b
Name: Names, dtype: object

In [6]:
# Pandas DataFrame
df=pd.DataFrame({'Names':names,'Ages':ages,'Marries':marries})

In [7]:
df

  Names  Ages  Marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

In [8]:
ser.iloc[2]

'c'

In [9]:
df.iloc[2]

Names          c
Ages          12
Marries    False
Name: 2, dtype: object

In [10]:
# Show Dimension
ser.ndim

1

In [11]:
df.ndim

2

In [12]:
# Show Shape how many rows and columns
ser.shape

(5,)

In [13]:
df.shape

(5, 3)

In [14]:
# Each column look like Series
df.Names

0    a
1    b
2    c
3    d
4    e
Name: Names, dtype: object

In [15]:
df=df.rename(columns={'Names':'names','Ages':'ages','Marries':'marries'},inplace=False)

In [16]:
df

  names  ages  marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

In [17]:
ser.dtype

dtype('O')

In [18]:
# Show each column datatype which is hetarogenous ,contain different data types
df.dtypes

names      object
ages        int64
marries      bool
dtype: object

In [19]:
len(ser)

5

In [20]:
names=names+['g']

In [21]:
names

['a', 'b', 'c', 'd', 'e', 'g']

In [22]:
len(names)

6

In [23]:
'''
    DataFrame is not creating beacuse one sereis has a extra data,
    which is not same every series like names series data is:6
    other series data is:5 and 5
'''
#df=pd.DataFrame({'names':names,'ages':ages,'merries':marries})

'\n    DataFrame is not creating beacuse one sereis has a extra data,\n    which is not same every series like names series data is:6\n    other series data is:5 and 5\n'

### Creating DataFrame
    * Dictionary to Tuple
       --Like dict of list, but with tuples, Column-Wise
       
    * Dictionary to Dictionary
       --Key:value pairs with column names as keys and index-labeled keys:value pairs containing values
       
    * Dictionary to Series
        --A Continuation of keys concept
    * List to Dictionary
        --List of keys:Values pairs containing column labels and values

### Dict of Tuples

In [24]:
names=['a','b','c','d','e']
tuple_names=tuple(names)
tuple_ages=tuple(ages)
tuple_marries=tuple(marries)

In [25]:
tuple_names

('a', 'b', 'c', 'd', 'e')

In [26]:
pd.DataFrame({
    'names':tuple_names,
    'ages':tuple_ages,
    'marries':tuple_marries
})

  names  ages  marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

## Dictionary to Series

In [27]:
names=pd.Series(names)

In [28]:
ages=pd.Series(ages)

In [29]:
marries=pd.Series(marries)

In [30]:
pd.DataFrame({'names':names,'ages':ages,'marries':marries})

  names  ages  marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

## Dictionary To Dictionary

In [31]:
pd.DataFrame({'name':['a','b']})

  name
0    a
1    b

In [32]:
pd.DataFrame({'name':{0:'a',1:'b'}})

  name
0    a
1    b

In [33]:
# The Enumerate Function

In [34]:
enumerate(names)

In [35]:
list(enumerate(names))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [36]:
dict_names={k:v for k,v in enumerate(names)}

In [37]:
dict_names

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [38]:
pd.DataFrame({'names':dict_names})

  names
0     a
1     b
2     c
3     d
4     e

In [39]:
def convert_list_dict(i):
    return {k:v for k,v in enumerate(i)}

In [40]:
dict_name=convert_list_dict(names)
dict_ages=convert_list_dict(ages)
dict_marries=convert_list_dict(marries)

In [41]:
pd.DataFrame({'names':names,'ages':ages,"marries":marries})

  names  ages  marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

## List to Dictioanry

In [42]:
pd.DataFrame([{'names':'a','ages':6,'marries':True}])

  names  ages  marries
0     a     6     True

In [43]:
list(zip(names,ages,marries))

[('a', 10, False),
 ('b', 17, True),
 ('c', 12, False),
 ('d', 15, True),
 ('e', 12, True)]

In [44]:
pd.DataFrame([{'names':names,'ages':ages,'marries':marries} for names,ages,marries in zip(names,ages,marries)])

  names  ages  marries
0     a    10    False
1     b    17     True
2     c    12    False
3     d    15     True
4     e    12     True

## Info() Method

In [45]:
# Info Methods Describe About Summary DataSets
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   names    5 non-null      object
 1   ages     5 non-null      int64
 2   marries  5 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 213.0+ bytes

In [46]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Columns: 3 entries, names to marries
dtypes: bool(1), int64(1), object(1)
memory usage: 213.0+ bytes

In [47]:
df.info(max_cols=2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Columns: 3 entries, names to marries
dtypes: bool(1), int64(1), object(1)
memory usage: 213.0+ bytes

In [48]:
df.info(memory_usage=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   names    5 non-null      object
 1   ages     5 non-null      int64
 2   marries  5 non-null      bool
dtypes: bool(1), int64(1), object(1)

In [49]:
df.info(memory_usage='deep',verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Columns: 3 entries, names to marries
dtypes: bool(1), int64(1), object(1)
memory usage: 463.0 bytes

## Reading DataSets

In [50]:
#Urls
dataurl='https://andybek.com/pandas-nutrition'

In [51]:
nut=pd.read_csv(dataurl)

In [52]:
nut.head(2)

,Unnamed: 0,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g

In [53]:
nut.info(verbose=False,memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8789 entries, 0 to 8788
Columns: 77 entries, Unnamed: 0 to water
dtypes: int64(3), object(74)
memory usage: 39.2 MB

## Removing Duplicated Index

In [54]:
nut.head(3)

,Unnamed: 0,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g

In [55]:
nut.set_index('Unnamed: 0').head(3)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g

In [56]:
nut.drop('Unnamed: 0',axis=1).head(3)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g

In [57]:
# it is good
nut=pd.read_csv(dataurl,index_col=[0])

In [58]:
nut.head(3)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g

## The sample() Method

In [59]:
# Ramdomly Coming
nut.sample()

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
7822,"Lamb, raw, trimmed to 1/8"" fat, separable lean...",100 g,273,22g,11g,82mg,39.00 mg,0,1.00 mcg,0.00 mcg,...,22.10 g,11.230 g,8.470 g,0.950 g,82.00 mg,0,0.92 g,0,0,59.95 g

In [60]:
# If you set random_sate it do not change when you refresh
nut.sample(random_state=1)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
8785,"Lamb, cooked, separable lean only, composite o...",100 g,206,8.9g,3.9g,109mg,50.00 mg,0,0.00 mcg,0.00 mcg,...,8.86 g,3.860 g,3.480 g,0.520 g,109.00 mg,0,1.60 g,0,0,59.95 g

In [61]:
nut.sample(n=3,random_state=1)# randomly coming data with 3 rows

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
8785,"Lamb, cooked, separable lean only, composite o...",100 g,206,8.9g,3.9g,109mg,50.00 mg,0,0.00 mcg,0.00 mcg,...,8.86 g,3.860 g,3.480 g,0.520 g,109.00 mg,0,1.60 g,0,0,59.95 g
8483,"Beef, grilled, cooked, choice, trimmed to 1/8""...",100 g,313,25g,11g,83mg,60.00 mg,48.6 mg,6.00 mcg,0.00 mcg,...,24.70 g,10.566 g,11.620 g,1.103 g,83.00 mg,0.0 g,0.90 g,0.00 mg,0.00 mg,52.36 g
6955,"Beverages, all with morro seeds, variety of br...",100 g,413,7.5g,2.1g,0,3.00 mg,11.6 mg,12.00 mcg,0.00 mcg,...,7.46 g,2.086 g,3.174 g,2.069 g,0.00 mg,0.0 g,1.10 g,0.00 mg,0.00 mg,4.89 g

In [62]:
nut.sample(frac=.001)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
173,"Chicken, raw, ground",100 g,143,8.1g,2.3g,86mg,60.00 mg,58.8 mg,1.00 mcg,0.00 mcg,...,8.10 g,2.301 g,3.611 g,1.508 g,86.00 mg,0.0 g,1.17 g,0.00 mg,0.00 mg,73.24 g
4184,"Cereals ready-to-eat, KELLOGG'S FROOT LOOPS, K...",100 g,375,3.4g,1.8g,0,469.00 mg,10.5 mg,345.00 mcg,326.00 mcg,...,3.40 g,1.800 g,0.600 g,0.900 g,0.00 mg,0.0 g,1.45 g,0.00 mg,0.00 mg,2.50 g
2320,"Beverages, Mixed Berry, Zero, POWERADE",100 g,0,0g,NaN,0,42.00 mg,0.0 mg,0.00 mcg,0.00 mcg,...,0.00 g,0.000 g,0.000 g,0.000 g,0.00 mg,0.0 g,0.51 g,0.00 mg,0.00 mg,99.35 g
3687,"Beverages, Fruit Medley, V8 SPLASH Juice Drinks",100 g,33,0g,NaN,0,21.00 mg,0,0,0,...,0.00 g,0,0,0,0,0,0.38 g,0,0,91.80 g
6596,"Chicken, raw, with added solution, meat only, ...",100 g,106,3.3g,1g,92mg,152.00 mg,75.3 mg,3.00 mcg,0.00 mcg,...,3.26 g,0.954 g,1.290 g,0.802 g,92.00 mg,0.0 g,0.99 g,0.00 mg,0.00 mg,77.71 g
7251,"Pork, raw, separable lean and fat, boneless, t...",100 g,166,8.3g,1.6g,64mg,47.00 mg,57.3 mg,0.00 mcg,0.00 mcg,...,8.33 g,1.598 g,1.861 g,0.651 g,64.00 mg,0.0 g,0.97 g,0.00 mg,0.00 mg,70.14 g
3400,"Babyfood, strained, creamed, corn, vegetables",100 g,57,0.4g,0.1g,1mg,43.00 mg,8.6 mg,17.00 mcg,0.00 mcg,...,0.40 g,0.076 g,0.116 g,0.176 g,1.00 mg,0.0 g,0.50 g,0.00 mg,0.00 mg,83.60 g
4763,"Oil, (over 70%), linoleic, salad or cooking, s...",100 g,884,100g,6.2g,0,0.00 mg,0,0.00 mcg,0.00 mcg,...,100.00 g,6.203 g,14.355 g,74.623 g,0.00 mg,0.0 g,0.00 g,0.00 mg,0.00 mg,0.00 g
4833,"Yardlong beans, without salt, boiled, cooked, ...",100 g,118,0.5g,0.1g,0,5.00 mg,0,146.00 mcg,0.00 mcg,...,0.45 g,0.116 g,0.039 g,0.193 g,0.00 mg,0,1.37 g,0,0,68.80 g

In [63]:
nut.shape

(8789, 76)

In [64]:
nut.shape[0]*.001

8.789

In [65]:
# When you use 'frac' you can not use n=n
#nut.sample(frac=.001,n=3)

## Sampling With Replacement or Weights

In [66]:
# With or Without Replacement

In [67]:
nut.sample(n=3,replace=True,random_state=1)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
235,"Game meat, raw, elk",100 g,111,1.5g,0.5g,55mg,58.00 mg,0,0,0,...,1.45 g,0.530 g,0.360 g,0.300 g,55.00 mg,0,1.00 g,0,0,74.38 g
5192,"USDA Commodity, heated, frozen, breaded, salmo...",100 g,212,12g,1.6g,26mg,173.00 mg,0,9.00 mcg,3.00 mcg,...,11.72 g,1.570 g,4.625 g,3.028 g,26.00 mg,0.0 g,1.25 g,0,0,60.38 g
905,"Soybeans, raw, mature seeds",100 g,446,20g,2.9g,0,2.00 mg,115.9 mg,375.00 mcg,0.00 mcg,...,19.94 g,2.884 g,4.404 g,11.255 g,0.00 mg,0.0 g,4.87 g,0.00 mg,0.00 mg,8.54 g

In [68]:
# Weight Sampling
weight=pd.Series([10,10,10,1,2,3],index=[10,13,5,1,8,4])

In [69]:
weight

10    10
13    10
5     10
1      1
8      2
4      3
dtype: int64

In [70]:
nut.sample(n=3, weights=weight,random_state=1)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
8,"Cheese, camembert",100 g,300,24g,15g,72mg,842.00 mg,15.4 mg,62.00 mcg,0.00 mcg,...,24.26 g,15.259 g,7.023 g,0.724 g,72.00 mg,0.0 g,3.68 g,0.00 mg,0.00 mg,51.80 g
10,"PACE, Picante Sauce",100 g,25,0g,NaN,0,781.00 mg,0,0,0,...,0.00 g,0,0,0,0.00 mg,0,3.85 g,0,0,89.90 g
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g

## DataFrame Axes

In [72]:
nut.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8789 entries, 0 to 8788
Columns: 76 entries, name to water
dtypes: int64(2), object(74)
memory usage: 5.2+ MB

In [74]:
nut.axes

[Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
             ...
             8779, 8780, 8781, 8782, 8783, 8784, 8785, 8786, 8787, 8788],
            dtype='int64', length=8789),
 Index(['name', 'serving_size', 'calories', 'total_fat', 'saturated_fat',
        'cholesterol', 'sodium', 'choline', 'folate', 'folic_acid', 'niacin',
        'pantothenic_acid', 'riboflavin', 'thiamin', 'vitamin_a',
        'vitamin_a_rae', 'carotene_alpha', 'carotene_beta',
        'cryptoxanthin_beta', 'lutein_zeaxanthin', 'lucopene', 'vitamin_b12',
        'vitamin_b6', 'vitamin_c', 'vitamin_d', 'vitamin_e', 'tocopherol_alpha',
        'vitamin_k', 'calcium', 'copper', 'irom', 'magnesium', 'manganese',
        'phosphorous', 'potassium', 'selenium', 'zink', 'protein', 'alanine',
        'arginine', 'aspartic_acid', 'cystine', 'glutamic_acid', 'glycine',
        'histidine', 'hydroxyproline', 'isoleucine', 'leucine', 'lysine',
        'methionine', 'phenylalanine', 'proline', 'serine', 'threonine',
        'tryptophan', 'tyrosine', 'valine', 'carbohydrate', 'fiber', 'sugars',
        'fructose', 'galactose', 'glucose', 'lactose', 'maltose', 'sucrose',
        'fat', 'saturated_fatty_acids', 'monounsaturated_fatty_acids',
        'polyunsaturated_fatty_acids', 'fatty_acids_total_trans', 'alcohol',
        'ash', 'caffeine', 'theobromine', 'water'],
       dtype='object')]

In [77]:
# Row Label Axes
nut.axes[0]

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            8779, 8780, 8781, 8782, 8783, 8784, 8785, 8786, 8787, 8788],
           dtype='int64', length=8789)

In [78]:
# Column Label Axes
nut.axes[1]

Index(['name', 'serving_size', 'calories', 'total_fat', 'saturated_fat',
       'cholesterol', 'sodium', 'choline', 'folate', 'folic_acid', 'niacin',
       'pantothenic_acid', 'riboflavin', 'thiamin', 'vitamin_a',
       'vitamin_a_rae', 'carotene_alpha', 'carotene_beta',
       'cryptoxanthin_beta', 'lutein_zeaxanthin', 'lucopene', 'vitamin_b12',
       'vitamin_b6', 'vitamin_c', 'vitamin_d', 'vitamin_e', 'tocopherol_alpha',
       'vitamin_k', 'calcium', 'copper', 'irom', 'magnesium', 'manganese',
       'phosphorous', 'potassium', 'selenium', 'zink', 'protein', 'alanine',
       'arginine', 'aspartic_acid', 'cystine', 'glutamic_acid', 'glycine',
       'histidine', 'hydroxyproline', 'isoleucine', 'leucine', 'lysine',
       'methionine', 'phenylalanine', 'proline', 'serine', 'threonine',
       'tryptophan', 'tyrosine', 'valine', 'carbohydrate', 'fiber', 'sugars',
       'fructose', 'galactose', 'glucose', 'lactose', 'maltose', 'sucrose',
       'fat', 'saturated_fatty_acids', 'monounsaturated_fatty_acids',
       'polyunsaturated_fatty_acids', 'fatty_acids_total_trans', 'alcohol',
       'ash', 'caffeine', 'theobromine', 'water'],
      dtype='object')

In [79]:
# The Axis Param
# nut.dropna(axis=0)
# 0=>Row; 1=>Column

### Changing Index

In [80]:
nut.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            8779, 8780, 8781, 8782, 8783, 8784, 8785, 8786, 8787, 8788],
           dtype='int64', length=8789)

In [81]:
type(nut.index)

pandas.core.indexes.numeric.Int64Index

In [82]:
nut.index=pd.RangeIndex(start=0,stop=8789,step=1)

In [83]:
nut.index

RangeIndex(start=0, stop=8789, step=1)